label {
    font-weight: bold;
}

.text-left {
    text-align: left !important;
}

.checkbox {
    margin: 15px;
}

.checkbox input {
    margin-right: 25px;
    color: #888;
    background: azure;
}

.checkbox label {
    color: #444;
}


