
body {
  background-color: #f1f1f1;
  padding-top: 0;
}

* {
  transition: all 0.2s ease-in-out;
}

.btn-xs {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

#swf-mnu li{
  border-bottom:1px dotted #ddd;
}

#swf-mnu li:hover{
  background-color: #eee;
}

.swf-form label{font-size:.8rem; margin-top:10px;}
.swf-form input{font-size:.9rem; border:1px solid #ccc; width:100%; margin:3px 0 5px 0; border-radius:0}

header{margin-bottom:1rem; border-bottom:1px solid #eee;}

#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  color: #000;
}

.swf-logo{
  margin-left:20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.navbar-nav {
  margin-right: 20px;
}

header .nav-link:hover{color:#336699}



.swf-container{
  border-radius: 5px;
}


.nav-item button {
  margin-right: 20px;
  margin-left: 20px  
}

.navbar-brand .site-name {
  margin: 15px 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-title {
  color: #555;
  font-size:1.8rem;
  font-weight:bold;
  padding-bottom:10px;
  border-bottom:5px solid #fff;
}

.tab-content {
  border-left: #888 1px solid;
  border-bottom: #888 1px solid;
  border-right: #888 1px solid;
  max-width: 800px !important;
  margin: 0 auto;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

.nav.nav-tabs {
  max-width: 800px;
  margin: 0 auto;
}

.tab-pane {
  padding: 40px;
}

.nav-link.jud-tab {
  border-color: #888 !important;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #ccc;
  color: #444;
  font-weight: bold;
  
}

.rjsf{
  padding:10px 20px;
}

.nav-link.jud-tab.active {
  border-color: #888 !important;
  border-bottom: none;
}

#welcome_signin, #welcome_register {
  text-align: left;
}


#regForm {
  background-color: #f1f1f1;
  margin: 50px auto;
  width: 100%;
  min-width: 300px;
  border-radius: 10px!important;
}