.otp-card {
    border: 0;
    color: #444;
}

.otp-input {
    height: 50px;
    font-size: 25px !important;
}

.otp-button {
    height: 50px;
    font-size: 20px !important;
    padding-top: 10px !important;
}

.otp-row {
    padding: 0 25%;
}