

.btn-xs {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.2;
  border-radius: .2rem;
}

.form-control, .form-select{
    border-radius:0;
    color:#000;
}

.rjsf #root {
    /* max-width: 1280px; */
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    /* display:flex;
    flex-wrap: wrap;
    gap:30px; */
    color: #000;
  }

  .swf-flex-container fieldset {
    /* max-width: 1280px; */
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #fff;
    display:flex;
    flex-wrap: wrap;
    gap:10%;
    color: #000;
  }
  .swf-flex-container fieldset .form-group{
    /* max-width: 1280px; */
    width: 45%;
  }


  .flex-container {
    /* display: flex; */
    justify-content: space-between;
  }
  
  .flex-item {
    flex: 1 1 50%;
  }

  .group-submission{
    padding:15px;
  }

  .swf-step{
    padding:10px;
    color:#000;
    font-weight: bold;
    height:100%
  }

  .swf-step-1 {
    padding: 10px;
    color: #000;
    font-weight: bold;
    position: absolute;
    right:0;
    z-index:1000;
    top: 0;
    height: 100%;
}

.accused-card .rjsf{
    padding:0;
}

.accused-index{
  position:absolute; 
  max-width:200px;
  min-width:100px;
  font-weight:bold;
  font-size:.9rem;
  background-color:#feeee1;
  border:2px solid #f5c59e;
  color:#333;
  padding:5px 15px;
  top:-10px; right:-15px
}

.accused-card .rjsf #root{
    padding:0;
}

.add-charge .rjsf #root{
  background-color:transparent;

}
.add-charge .rjsf {
    margin-bottom: 10px;
    margin-top:20px;
}

#root__title{
    font-weight:bold;
}
#root__description{
    font-size: 18px;
}
  