#regForm {
    background-color: #f1f1f1;
    margin: 50px auto;
    width: 100%;
    min-width: 300px;
}
.rjsf {
  margin-bottom: 50px;
}

.form-group {
  text-align: left;
}



.form-control {
  margin-bottom: 20px;
}

.progress-buttons {
  text-align: right;
}

.rjsf{
  padding:10px 20px;
}

.next-button {
  margin-left: 5px;
}

.control-label {
  font-weight: bold;
}

.accused-card {
  margin-bottom: 30px;
}

.add-charge fieldset {
 width: 70%;
}

.control-label {
  color: #444;
}

.submissions-container {
  background-color: #f1f1f1;
  padding: 50px 100px;
}

.submission-card {
  margin-bottom: 20px !important;
}

.new-submission-btn {
  margin-bottom: 50px;
}

.submissions-title {
  margin: 40px 0;
}

.complainant-details {
  width: 100%;
  text-align: left;
}

.complainant-details label {
  font-weight: bold;
}

.signature-frame {
  border: 3px solid #444;
  padding: 40px;
}

/* Hide all steps by default: */
/* .tab {
    display: none;
    text-align: left;
} */

/* Make circles that indicate the steps of the form: */
/* .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #666;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  } */
  
  /* .step.active {
    opacity: 1;
  } */
  
  /* Mark the steps that are finished and valid: */
  /* .step.finish {
    background-color: #04AA6D;
  } */

  /* .step-title {
    color: #444;
    margin-bottom: 15px;
  } */

  /* #nextBtn {
    margin-left: 10px;
  } */

  /* fieldset {
    min-height: 500px;
  } */